/***************************
Global Settings
***************************/


body {
	font: 13px/25px Helvetica, sans-serif;
	background-image: url("../Images/background.png");
	background-repeat: no-repeat;
}


.body_ul ul {
	width: 600px;
	padding-right:120px;
}


blockquote.peoplequote {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #a5a4a4;
    font-style: italic;
    margin: 30px;
    padding: 30px;
    text-align: center;
}


blockquote.blockquote2 {
    color: #808080;
    font-style: italic;
    padding-left: 35px;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, sans-serif;
    font-weight: 700;
	color: #222;
    line-height: 140%;
    width: 600px;
    margin-bottom: 0;
    padding-bottom:0;
}


h1 {
    padding-top: 60px;
}

h2 {
    padding-top: 40px;
}

h3 {
    padding-top: 40px;
}

h4 {
    padding-top: 40px;
}

h5 {
    padding-top: 40px;
}

h6 {
    padding-top: 40px;
}


a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: #0033FF;
}

/* visited link */
a:visited {
    color: #8585AD;
}

/* mouse over link */
a:hover {
    color: #CCCCCC;
}

/* selected link */
a:active {
    color: #CCCCCC;
}



h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
    color: #000000;
}

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: #000000;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #6202C9;
}

a.show_image{
    color: #0000FF;
}
a.show_image:hover{
    color: #000000;
	cursor: pointer;
	cursor: hand;
}

:hover {
	/* Text transition */
	-o-transition: 0.3s  ease-in-out;
	-ms-transition: 0.3s ease-in-out;
  	-moz-transition: 0.3s ease-in-out;
  	-webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}




/***************************
CONTENT
***************************/

#main {
	max-width: 700px;
    margin-left: auto ;
    margin-right: auto ;
}

#main_article {
	width: 650px;
    margin-left: auto ;
    margin-right: auto ;
	font-size: 14px;
    line-height: 24px;
}


#main_article img {
	max-width: 650px;
	max-height: 450px;
}

#abstract {
    font-weight: bold;
}

.dense_italics {
    font-style: italic;
    font-size: 1em;
}

.dense_italics_center {
    font-style: italic;
    font-size: 1em;
	text-align:center;
}

.dense_small {
    font-size: 0.9em;
}

#h2_projects {
	font-size:2.0em;
	font-family:"Courier New", Courier, monospace;
}

#disqus_thread {
	max-width: 650px;
    margin-left: auto ;
    margin-right: auto ;
}


/***************************
HEADER
***************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

#header {
	margin-top: 200px;
	max-width: 800px;
    margin-left: auto ;
    margin-right: auto ;
	text-align: center;
}

#header img {
	width: 690px;
}

#header ul {
	opacity: 0.7;
	padding-right: 5%;
	min-width: 590px;
    list-style-type: none;
	display: inline-block;
}

#header ul li {
    display: inline;
}

#header ul a {
    margin-right: -5px;
	font-size: 16px;
   	font-family: Helvetica, sans-serif;
	font-weight: 300;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding-left: 1.0em;
    padding-right: 1.0em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
	 border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#header ul a:hover {
    color: #ffffff;
    background-color: #000000;
}

#header ul #active {
    color: #ffffff;
    background-color: #000000;
}

#header ul #active:hover {
    color: #000000;
    background-color: #ffffff;
}



/***************************
Footer
***************************/

#footer {
    clear:both;
	max-width: 800px;
    margin-left: auto ;
    margin-right: auto ;
	text-align: center;
	font-size: 0.8em;
    padding-top:100px;
    padding-bottom:100px;
    text-align:center;
}

#footer a {
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


/* unvisited link */
#footer a:link {
    color: #000000;
}

/* visited link */
#footer a:visited {
    color: #000000;
}

/* mouse over link */
#footer a:hover {
    color: #ffffff;
    background-color: #000000;
}

/* selected link */
#footer a:active {
    color: #000000;
}



/***************************
Sidebars
***************************/

#searchbox {
	margin-left:-30px;
	width: 310px;
}

#searchbox_mobile {
    visibility: hidden;
	margin-top:-160px;
}

#td_blog_sidebar {
	vertical-align:top;
}


#blog_sidebar {
	margin-top:-40px;
    font-size: 1em;
	width: 215px;
    background: #ffffff;
}


#blog_sidebar ul {
    list-style-type: none;
}

#blog_sidebar ul li {
}

#blog_sidebar ul a {
    color: #000000;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#blog_sidebar ul a:hover {
    color: #ffffff;
    background-color: #000000;
}

#blog_sidebar ul .subcategory1 {
    font-weight: bold;
	padding-top:1em;
}

#blog_sidebar ul .subcategory2 {
    font-weight: bold;
	font-size: 1.4em;
    padding-top:3em;
	padding-bottom:1em;
}




#contacts {

    margin-left: auto ;
    margin-right: auto ;
	display:block;
    font-size: 1em;
}
#contacts img {
		float:left;
}
#contacts a img{
		padding-left:2em;
		padding-top:2em;
}




#projects_sidebar {
    font-size: 1em;
	border-top: solid;
	border-bottom: solid;
	border-width:1px;
	border-color: #000000;


}

#projects_sidebar ul {

    list-style-type: none;
}

#projects_sidebar ul li {

}

#projects_sidebar ul a {
    color: #000000;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#projects_sidebar ul a:hover {
    color: #ffffff;
    background-color: #000000;
}

#projects_sidebar ul .subcategory1 {
    font-weight: bold;
    padding-top:3em;
}

#projects_sidebar ul .subcategory2 {
    font-weight: bold;
	font-size: 1.4em;
    padding-top:3em;
	padding-bottom:1em;
}

#rsslogo {
    background-image: url("../Images/rss_white.png");

	float: right;

    padding-top: 40px;
	padding-left: 20px;

	padding-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

#rsslogo:hover {
	padding-left: 20px;
    background-image: url("../Images/rss_black.png");

}

/***************************
HOVER EFFECTS
***************************/



.hover_light_dark {
    opacity: 0.5;
    filter: alpha(opacity=50);
     no-repeat;
}

.hover_light_dark:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}


/***************************
#projects Page
***************************/


#projects img{
    max-width:200px;
}


/* unvisited link */
#projects p:a:link {
    color: #6202C9;
}

/* visited link */
#projects p:a:visited {
    color: #8585AD;
}

/* mouse over link */
#projects p:a:hover {
    color: #CCCCCC;
}

/* selected link */
#projects p:a:active {
    color: #CCCCCC;
}




/***************************
Blog Table
***************************/


#table_blogwrapper{
	max-width: 900px;
	min-width: 500px;
    margin-left: auto ;
    margin-right: auto ;
}

#table_blogwrapper td {
    padding:15px
}


.table_blog {
	max-width: 800px;
	min-width: 300px;
    border-collapse: collapse;
    font-size: 1em;
    line-height: 160%;
    margin-left: auto ;
    margin-right: auto ;
}

.table_blog img{
float:right;
clear:both;
padding-right:40px;
padding-bottom:20px;
}

.table_blog tr {
    border-bottom: 1px solid #000;
}

.table_blog td {
    padding-top:30px;
    padding-bottom:30px;

    padding-left:20px;
}

.table_blog img {
    color: #000000;
}

.table_blog a {
    color: #000000;
}

.table_blog tr:hover {
    background-color: #F0F0F5;
	cursor: pointer;
	opacity:0.6;
	-webkit-filter: grayscale(100%);
}


.table_blog .header {
	font-weight: bold;
    font-size: 1.2em;
    padding-bottom:1.2em;
}

.table_blog .abstract {
    padding-top:1.2em;
}


.table_blog .highlight_tag {
    display: none;
    visibility: hidden;
    display: inline;
}

.table_blog .year_tag {
    display: none;
    visibility: hidden;
    display: inline;
}

.table_blog .category_tag {
    font-size: 0.7em;
}

/* ----------- BUTTONS ----------- */

.btn-image {
  color: #bdc3c7;
  font-size: 13px;
  border: 1px solid #FFFFFF;
}
.btn-image:hover {
  color: #000000;
  border: 1px solid #000000;
}

