<footer class="site-footer">

  <div class="wrap">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->


    <div class="footer-col-1 column">
        {% if site.github_username %}<li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="icon github">
              <img src="/assets/githubicon.svg" width="15">
            </span>
            <span class="username"> JQZhu </span>
          </a>
        </li>{% endif %}
    </div>
    
    
    <div class="footer-col-2 column">
        {% if site.twitter_username %}<li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon twitter">
              <img src="/assets/twittericon.svg" width="15">
            </span>
            <span class="username"> JQZhu </span>
          </a>
        </li>{% endif %}
    </div>

    <div class="footer-col-3 column">
    <li>
    <a href="https://weibo.com/{{ site.weibo_username }}">
      <span class="icon weibo">
      <img src="/assets/weiboicon.svg" width="15">
      </span>
      <span class="username"> JQZhu </span>
    </a>
    </li>
    </div>

  </div>

</footer>
