<!DOCTYPE html>
	<html>
		<head>
			<!-- CSS -->
			<link rel="stylesheet" type="text/css" href="./CSS/main.css" media="screen"><link media="screen and (max-device-width: 767px)" rel="stylesheet" href="./CSS/mobile.css" />
			<link rel="stylesheet" type="text/css" href="./CSS/codehilite.css" media="screen">
			<title>{{ page.title }}</title>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:camb.zhu@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/camzhu">Github.com/camzhu</a></li>
				</ul>
			</footer>
		</body>
	</html>
